/* Universal code */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@700&family=Lato&family=Open+Sans:ital@0;1&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}
h3 {
    font-size: 2.5rem;
    font-family: 'Yeseva One', cursive;
}
p {
    color: #4c4c4c;
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
}

/* Header section */
header {
    background: url("../images/banner.png") no-repeat center;
    background-size: cover;
}
.nav-link {
    font-family: 'Gentium Book Basic', serif;
    color: #ffffff;
    font-size: 1.3rem;
}
.nav-item {
    padding: 0 1rem;
}
.social-icons a {
    color: #dab33e;
    font-size: 1.3rem;
    display: inline-block;
    padding: 0 5px;
}

/* Banner section */
#banner {
    color: #ffffff;
    padding: 6rem 0;
}
#banner h1 {
    font-size: 5rem;
    font-family: 'Yeseva One', cursive;
    margin-bottom: 1.5rem;
}
#banner a {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.233);
    padding: 0.6rem 1.6rem;
    border: 1px solid #ffffff;
    transition: all 0.9s;
}
#banner a:hover {
    background-color: rgba(0, 0, 0, 0.318);
    border: 1px solid #000000;
    transform: rotateZ(360deg);
}
.book-btn {
    margin-right: 10px;
}
.menu-btn {
    margin-left: 10px;
}

/* About section */
#about {
    background: url("../images/bg-2.png") no-repeat center;
    background-size: cover;
    padding: 3.9rem 0;
}
.about-food h3 {
    color: #cc9900;
}

/*--- Infinite rotation animation ---*/
/* Safari and Chrome */

@-webkit-keyframes rotating {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 6s linear infinite;
    -moz-animation: rotating 6s linear infinite;
    -ms-animation: rotating 6s linear infinite;
    -o-animation: rotating 6s linear infinite;
    animation: rotating 6s linear infinite;
  }

/* Igredients section */
#igredients {
    background: url("../images/igredients-bg.png") no-repeat center;
    background-size: cover;
    padding: 3.9rem 0;
}
.igredients-content,
.common-bg {
    background-color: #201c1ab6;
    border: 2px solid #201c1afe;
    padding: 5rem 4rem;
}
.igredients-content p {
    color: #ffffff;
}
.ingredients-imgs {
    padding-top: 1.5rem;
}

/* Menu section */
#menu {
    background: url("../images/menu-bg.png") no-repeat center;
    background-size: cover;
    padding: 3.9rem 0;
}
.menu-content {
    padding: 0 2rem;
}
.menu-content h3 {
    color: #cc9900;
}
.menu-content span {
    color: #cc9900;
    font-size: 1.5rem;
    font-family: 'Yeseva One', cursive;
}
.menu-content p:nth-child(2) {
    text-align: center;
}
.menu-content p {
    text-align: left;
}
.menu-box {
    border-bottom: 1px solid #dab33e;
}
.spacial-offer {
    background-color: #d3b662;
    color: #ffffff !important;
    font-size: 1rem !important;
    padding: 3px 7px;
}
.box-with-border {
    border: 1px solid #dab33e;
    border-top: none;
    padding: 0 10px;
    margin-bottom: 16px;
}
.box-with-border p {
    text-align: left !important;
}

/* Review section */
#review {
    background: url("../images/review-bg.png") no-repeat center;
    background-size: cover;
    padding: 3.9rem 0;
}
.review-content {
    width: 45vw;
    margin: auto;
}
.review-content p {
    color: #ffffff;
    font-size: 1.3rem;
    font-family: 'Gentium Book Basic', serif;
}
.review-content p:last-child {
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
}
.review-content p i {
    color: #9a9b99;
    font-size: 1.8rem;
}

/* Reservations section */
#reservation {
    background: url("../images/bg-2.png") no-repeat center;
    background-size: cover;
    padding: 3.9rem 0;
}
form {
    margin-top: 3rem;
}
label {
    color: #c9a131;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: 10px;
}
input,
select,
#party {
    padding: 3px 20px;
    margin-bottom: 1.2rem;
    outline: 0;
    border: 1px solid #4c4c4c;
    transition: all 0.8s;
}
::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #4c4c4c83;
}
input:focus {
    border: 1px solid #c9a131;
}
.btn {
    background-color: #c9a131;
    color: #ffffff;
    padding: 4px 3rem;
    border-radius: 0;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
}
.btn:hover {
    background-color: #c9a131;
    color: #ffffff;
}

/* Footer section */
footer {
    padding: 3.8rem 0;
    background-color: #000000;
}
.footer-content h5 {
    font-family: 'Yeseva One', cursive;
    font-size: 27px;
}
.footer-content p i {
    color: #c3c4c2;
    font-size: 1.5rem;
    margin: 5px;
}

/* Media Queries for Responsiveness */
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
@media (min-width: 320px) and (max-width: 575px) {
    .navbar img{
        width: 115px;
    }
    .navbar-nav{
        text-align: center;
    }
    .nav-link {
        font-size: 1.3rem;
        padding: 0.3rem 0;
    }
    
    #banner {
        padding: 1rem 0;
    }
    #banner h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    #banner a {
        padding: 0.4rem 1.1rem;
    }
    .book-btn {
        margin-right: 0;
    }
    .menu-btn {
        margin: 1rem 0;
    }

    #about{
        text-align: center;
    }
    h3 {
        font-size: 2rem;
    }

    .igredients-content {
        padding: 1rem;
    }

    .menu-content {
        padding: 0 0.5rem;
    }

    .review-content {
        width: 90vw;
        padding: 1.5rem 0.4rem;
        margin: auto;
    }
    .review-content p {
        font-size: 1.2rem;
    }
    .review-content p:last-child {
        font-size: 1rem;
    }
    .reserv-food-img {
        margin-bottom: 3rem;
    }

    label {
        margin-left: 0;
    }

    footer {
        padding:  2.5rem 0 3.2rem 0;
    }
    footer h5 {
        margin-top: 1rem;
        font-size: 25px !important;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .navbar-nav{
        text-align: center;
    }
    .nav-link {
        font-size: 1.5rem;
        padding: 0.3rem 0;
    }

    #banner{
        padding-top: 2.5rem;
    }
    #banner h1 {
        font-size: 4rem;
        margin-bottom: 1.3rem;
    }
    #banner a {
        padding: 0.5rem 1.2rem;
    }

    #about{
        text-align: center;
    }

    .igredients-content, .common-bg {
        padding: 3rem 3rem;
    }

    .review-content {
        width: 85vw;
    }

    #reservation .about-food h3{
        margin-top: 3.3rem;
    }
    form .n {
        display: none;
    }

    footer .mb{
        margin-bottom: 1.9rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav{
        text-align: center;
    }
    .nav-link {
        font-size: 1.5rem;
        padding: 0.3rem 0;
    }

    #banner{
        padding-top: 3rem;
    }
    #banner h1 {
        font-size: 4.2rem;
        margin-bottom: 1.5rem;
    }
    #banner a {
        padding: 0.5rem 1.2rem;
    }
    #about .about-food {
        text-align: center;
        margin-bottom: 2rem;
    }
    #about .about-food p:nth-child(3) {
        text-align: justify;
    }

    .review-content {
        width: 85vw;
    }
    
    form .h {
        display: none;
    }

    #reservation .about-food h3{
        margin-top: 3.3rem;
    }

    footer .mb{
        margin-bottom: 1.9rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    .nav-link {
        font-size: 1.3rem;
    }
    header nav .socials {
        display: none;
    }

    #banner{
        padding-top: 3.5rem;
    }
    #banner h1 {
        font-size: 4.2rem;
    }

    .igredients-content{
        width: 70vw;
        margin: 0 auto;
    }

    .review-content {
        width: 70vw;
    }

    .hide{
        display: none;
    }
    form .h {
        display: none;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) {
    .review-content {
        width: 55vw;
    }

    form .g {
        display: none;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .xsd {
        display: none;
    }
    form .h {
        display: none;
    }
}